.header {
  padding: 24px 64px;
  background-color: #e44848;
}

.nav {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.nav-list {
  list-style-type: none;
  display: flex;
  column-gap: 24px;
}

.link {
  font-family: inherit;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  transition: transform ease-in 200ms;
}

.link:hover,
.link:focus {
  transform: scale(110%);
}
